<!DOCTYPE html>
<html lang="<%= process.env.APP_MAIN_LOCALE %>" data-theme="auto">
    <head>
        <meta charset="utf-8">
        <title>Explore the TON Blockchain on a User-Friendly Platform · TONScan</title>
        <meta name="description" content="Discover the TON blockchain in an accessible and user-friendly way with TONScan. Explore transactions, addresses, pools, nominators, and more on TONScan.org. Stay updated on the latest developments in the TON network.">
        <meta property="og:site_name" content="tonscan">

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="format-detection" content="telephone=no">

        <link rel="icon" href="<%= htmlWebpackPlugin.files.favicon %>">
        <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.favicon %>" color="#000000">

        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff">
        <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#0f0f0f">
        <meta name="google" content="notranslate">

        <link crossorigin rel="preload" href="<%= require('@fonts/rubik/rubik-latin-400.woff2') %>" as="font" type="font/woff2">

        <% for (var js in htmlWebpackPlugin.files.js) { %>
            <link rel="preload" href="<%= htmlWebpackPlugin.files.js[js] %>" as="script">
        <% } %>

        <% for (var css in htmlWebpackPlugin.files.css) { %>
            <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>">
        <% } %>
    </head>
    <body>
        <% if (process.env.TESTNET) { %>
            <div style="text-align: center;padding: 14px;background: #960b0b;color: #FFF;font-weight: 500;">
                ⚠️ Attention! This is a testnet version ⚠️
            </div>
        <% } %>

        <div id="app"></div>

        <% for (var js in htmlWebpackPlugin.files.js) { %>
            <script src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
        <% } %>

        <% if (process.env.APP_ENV === 'production') { %>
            <% if (process.env.SENTRY_DSN) { %>
                <script crossorigin="anonymous" src="<%= process.env.SENTRY_DSN %>" onload="Sentry.init()"></script>
            <% } %>

            <% if (process.env.CLOUDFLARE_INSIGHTS_TOKEN) { %>
                <script defer
                    src="https://static.cloudflareinsights.com/beacon.min.js"
                    data-cf-beacon='{"token": "<%= process.env.CLOUDFLARE_INSIGHTS_TOKEN %>"}'></script>
            <% } %>
        <% } %>
    </body>
</html>
